@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-Bold.woff2') format('woff2');
    src: url('fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-Regular.woff2') format('woff2');
    src: url('fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Utility Classes */

.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.button-reset[disabled] {
    cursor: default;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

/* Global Settings */

select {
    margin-bottom: 40px;
}

form {
    font-family: 'SpaceGrotesk', sans-serif;
}

h1,
h2,
legend,
label {
    text-transform: uppercase;
}

input,
select,
textarea {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    /* resets font styles set earlier */
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    margin-bottom: 40px;
}

input.invalid {
    background-color: #ffdddd;
}

textarea {
    margin-bottom: 40px;
}

/* Custom Styles */

#regForm {
    /* Style the form */
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    max-width: 700px;
}

.tab {
    /* Hide all steps by default: */
    display: none;
}

.step {
    /* Make circles that indicate the steps of the form: */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    /* Mark the active step: */
    opacity: 1;
}

.step.finish {
    /* Mark the steps that are finished and valid: */
    background-color: #4CAF50;
}
